 /* 
    Image via https://www.peakpx.com
*/

body {
    background-color: #4e0303;
    background-image: url('/static/assets/security.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

b{
    color: #ffffff;
}
.container-change-password {
    margin-top: 100px;
    max-width: 400px;
    padding: 20px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.636);
    box-shadow: 0 21px 21px rgba(255, 255, 255, 0.53);
}

.form-control-change-password{
    border: 3px solid #001427;
}

.form-group-change-password{
    margin-top: 1rem;
}

