/* Genel Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Kart Stilleri */
.game-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Tüm kartların aynı yüksekliği paylaşması */
    min-height: 300px; /* Minimum yükseklik */
    height: 100%; /* Ebeveynin yüksekliğini kullan */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Kart İçerikleri */
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    flex-grow: 1; /* Ortadaki metni esnek yaparak boşlukları eşit dağıtır */
    margin-bottom: 20px;
    text-align: center;
}

/* Arka Plan Tonları */
.local-game {
    background-color: #0b3d91; /* Koyu mavi ton */
    border-top: 5px solid #0056b3;
}

.tournament {
    background-color: #1a2035; /* Koyu gri ton */
    border-top: 5px solid #28a745;
}

.ai-game {
    background-color: #122644; /* Gece mavi */
    border-top: 5px solid #ff4500;
}

.multiplayer {
    background-color: #112a35; /* Koyu yeşil ton */
    border-top: 5px solid #17a2b8;
}

/* Butonlar */
/* Butonların genişliklerini eşitle */
.btn {
    width: 100%; /* Butonları kart genişliğine göre tam yap */
    text-align: center; /* Yazıyı ortala */
    padding: 10px 0; /* Sabit yükseklik hissi için dikey padding ayarla */
}

/* Tüm butonlar için aynı yüksekliği sağla */
.game-card .btn {
    min-height: 50px; /* Sabit buton yüksekliği */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-local {
    background-color: #007bff;
}

.btn-local:hover {
    background-color: #0056b3;
}

.btn-tournament {
    background-color: #28a745;
}

.btn-tournament:hover {
    background-color: #218838;
}

.btn-ai {
    background-color: #ff4500;
}

.btn-ai:hover {
    background-color: #d43f00;
}

.btn-multiplayer {
    background-color: #17a2b8;
}

.btn-multiplayer:hover {
    background-color: #138496;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 50%; /* İki sütun */
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-md-3 {
        flex: 0 0 100%; /* Tek sütun */
        max-width: 100%;
    }
}
