.friend-img-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px; 
    height: 60px;
}

.friend {
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #00ff41;
    border-radius: 10px;
    color: #00ff41;
    transition: transform 0.3s, box-shadow 0.3s;
}

.friend:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00ff41;
}

.friend-img {
    border: 5px solid transparent;
    object-fit: cover;
}

.friend-img-container.online .friend-img {
    border-color: #28a745;
}

.friend-img-container.offline .friend-img {
    border-color:rgb(230, 24, 6); 
}

.friend-img-container.online .status-indicator {
    background-color: #28a745;
}

.friend-img-container.offline .status-indicator {
    background-color:rgb(230, 24, 6); 
}
.text-muted, .text-name {
    cursor:pointer;
}



/* 500px'den küçük ekranlar için */
@media (max-width: 500px) {
    .friend {
        flex-direction: column;
        align-items: flex-start;
    }

    .friend button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%; /* Buton tam genişlikte olur */
    }
}