.leader-card {
    cursor: pointer;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.first-place {
    background: linear-gradient(225deg, #dba514, #fcc201);
    color: #333;
}
.second-place {
    background: linear-gradient(135deg, #7D7D7A, #B3B6B5);
    color: #333;
}
.third-place {
    background: linear-gradient(135deg, #804A00, #B08D57);
    color: #333;
}
.leader-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(44, 171, 71);
}
.rank-number {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.coin-text {
    font-size: 1.5rem;
    font-weight: bold;
}


.medal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    font-size: 1.2rem;
    position: relative;
    top: -20px; /* Madalyayı avatar çerçevesiyle bağlayan çizginin ucuna taşır */
}

.medal-first {
    background: linear-gradient(225deg, #FFD700, #FFA500);
}

.medal-second {
    background: linear-gradient(135deg, #C0C0C0, #A9A9A9);
}

.medal-third {
    background: linear-gradient(135deg, #CD7F32, #8B4513);
}



