/* Genel Navbar Stilleri */
.navbar {
    padding: 15px 20px;
    background-color: #000000 !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-color: #ffffff;
    border-radius: 3px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff !important;
    padding: 8px 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    background-color: #ffffff1a;
    color: #0f0 !important;
    font-weight: bold;
}

.btn-logout {
    font-weight: bold;
    background-color: #00FF00 !important;
    color: #000000 !important;
    border: 2px solid #00FF00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 8px 15px;
    border-radius: 4px;
}

.btn-logout:hover {
    font-weight: bold;
    background-color: #00FF00 !important;
    color: #000000 !important;
    border: 2px solid #6fc56f;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); 
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    padding: 8px 15px;
    border-radius: 4px;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapse.show {
        display: block;
    }
}

/* Hover ve Click Özellikleri */
a:hover {
    cursor: pointer;
}
