{% extends '_index.html' %}
{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/usermanage/profile.css' %}">

{% endblock %}


{% block content %}
<div class="container profile-container">
  <!-- Profile Card -->
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="profile-card text-center">
              {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="Profile Picture" class="profile-avatar">
              {% else %}
              <img src="https://via.placeholder.com/150" alt="Default Avatar" class="profile-avatar">
              {% endif %}
              <div class="profile-info">
                  <div class="row">
                      <h2>{% if user.first_name or user.last_name %} {{ user.first_name }} {{ user.last_name }} {%else%} NONAME {%endif%} </h2>
                  </div>
                  <div class="row">
                      <p>@{{ user.username }}</p>
                  </div>
                  <div class="row">
                      <p id="status"></p>
                  </div>
                  <div class="row">
                      {% if user == request.user %}
                      <div class="col mt-3">
                          <a onclick="swapApp('/profile/{{ user.username }}/edit')"
                              class="btn btn-primary w-50 m-2">Edit Profile</a>
                          {% if not user.is_42 %}
                          <a onclick="swapApp('/profile/{{ user.username }}/change_password')"
                              class="btn btn-secondary w-50">Change Password</a>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Stats Card -->
  <div class="container mt-5 row justify-content-center">
    <div class="accordion col-md-8" id="gameStatsAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="pongHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pongStats" aria-expanded="true" aria-controls="pongStats">
                    <i class="fas fa-gamepad"></i> Pong Statistics
                </button>
            </h2>
            <div id="pongStats" class="accordion-collapse collapse show" aria-labelledby="pongHeader" data-bs-parent="#gameStatsAccordion">
                <div class="accordion-body">
                    <div class="stat-item">
                        <strong>Wins:</strong> <span>{{ user.pong_total_wins }}</span>
                    </div>
                    <div class="stat-item">
                        <strong>Losses:</strong> <span>{{ user.pong_total_losses }}</span>
                    </div>
                    <div class="stat-item">
                        <strong>Win/Loss Rate:</strong> <span>{{ win_rate_pong }}%</span>
                    </div>
                    <div class="stat-item">
                        <strong>Total Matches:</strong> <span>{{ user.pong_total_matches }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="rpsHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rpsStats" aria-expanded="false" aria-controls="rpsStats">
                    <i class="fas fa-hand-paper"></i> RPS Statistics
                </button>
            </h2>
            <div id="rpsStats" class="accordion-collapse collapse" aria-labelledby="rpsHeader" data-bs-parent="#gameStatsAccordion">
                <div class="accordion-body">
                    <div class="stat-item">
                        <strong>Wins:</strong> <span>{{ user.rps_total_wins }}</span>
                    </div>
                    <div class="stat-item">
                        <strong>Losses:</strong> <span>{{ user.rps_total_losses }}</span>
                    </div>
                    <div class="stat-item">
                        <strong>Win/Loss Rate:</strong> <span>{{ win_rate_rps }}%</span>
                    </div>
                    <div class="stat-item">
                        <strong>Total Matches:</strong> <span>{{ user.rps_total_matches }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- Grafikler -->
  <div class="row">
    <h1 class="text-center my-4">Charts</h1>
    <div class="col-lg-4 col-sm-6 mb-4 text-center">
        <canvas id="PongPieChart"></canvas>
        <h5>Pong</h5>
        <p class="chart-label"><span style="color:#4caf50;">Win</span> / <span style="color:#f44336;">Lose</span></p>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 text-center">
        <canvas id="RPSPieChart"></canvas>
        <h5>RPS</h5>
        <p class="chart-label"><span style="color:#4caf50;">Win</span> / <span style="color:#f44336;">Lose</span></p>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 text-center">
        <canvas id="GamePieChart"></canvas>
        <h5>Total Games</h5>
        <p class="chart-label"><span style="color:#2196f3;">Pong</span> / <span style="color:#ff9800;">RPS</span></p>
    </div>
  </div>

  <!-- Game History -->
  <div class="history-container my-5">
    <h2 class="history-header">Game History</h2>
    <div class="accordion" id="gameHistoryAccordion">
        <!-- Pong History Accordion -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="pongHistoryHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pongHistory" aria-expanded="true" aria-controls="pongHistory">
                    Pong Matches History
                </button>
            </h2>
            <div id="pongHistory" class="accordion-collapse collapse show" aria-labelledby="pongHistoryHeader" data-bs-parent="#gameHistoryAccordion">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">You</th>
                                <th scope="col">Opponent</th>
                                <th scope="col">Result</th>
                                <th scope="col">Time Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in pong_games %} 
                            <tr>
                                <td>{{ game.user1 }}</td>
                                <td>{{ game.user2 }}</td>
                                <td>{{ game.user1_score }} - {{game.user2_score}}</td>
                                <td>{{ game.time_duration }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No matches found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- RPS History Accordion -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="rpsHistoryHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rpsHistory" aria-expanded="false" aria-controls="rpsHistory">
                    RPS Matches History
                </button>
            </h2>
            <div id="rpsHistory" class="accordion-collapse collapse" aria-labelledby="rpsHistoryHeader" data-bs-parent="#gameHistoryAccordion">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">You</th>
                              <th scope="col">Opponent</th>
                              <th scope="col">Result</th>
                              <th scope="col">Time Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in rps_games %}
                            <tr>
                              <td>{{ game.user1 }}</td>
                              <td>{{ game.user2 }}</td>
                              <td>{{ game.user1_score }} - {{game.user2_score}}</td>
                              <td>{{ game.time_duration }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No matches found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>


</div>


<script>
  window.onload = function() {
      const pongWins = {{ user.pong_total_wins }};
      const pongLosses = {{ user.pong_total_losses }};
      
      const rpsWins = {{ user.rps_total_wins }};
      const rpsLosses = {{ user.rps_total_losses }};
      
      const totalPongMatches = pongWins + pongLosses;
      const totalRpsMatches = rpsWins + rpsLosses;

      const pongData = [pongWins, pongLosses];
      const pongColors = ["#4caf50", "#f44336"];

      const rpsData = [rpsWins, rpsLosses];
      const rpsColors = ["#4caf50", "#f44336"];

      const gameData = [totalPongMatches, totalRpsMatches];
      const gameColors = ["#2196f3", "#ff9800"];

      // Draw Pie Charts
      drawPieChart("PongPieChart", pongData, pongColors);
      drawPieChart("RPSPieChart", rpsData, rpsColors);
      drawPieChart("GamePieChart", gameData, gameColors);
  };

  // Helper function to draw a pie chart
  function drawPieChart(canvasId, data, colors) {
      const canvas = document.getElementById(canvasId);
      const ctx = canvas.getContext("2d");
      const total = data.reduce((sum, value) => sum + value, 0);

      let startAngle = 0;

      canvas.width = 200; // Canvas genişliği
      canvas.height = 200; // Canvas yüksekliği
      const centerX = canvas.width / 2;
      const centerY = canvas.height / 2;
      const radius = Math.min(canvas.width, canvas.height) / 2 - 10;

      data.forEach((value, index) => {
          const sliceAngle = (value / total) * 2 * Math.PI;
          const endAngle = startAngle + sliceAngle;

          // Draw slice
          ctx.beginPath();
          ctx.moveTo(centerX, centerY);
          ctx.arc(centerX, centerY, radius, startAngle, endAngle);
          ctx.closePath();
          ctx.fillStyle = colors[index];
          ctx.fill();

          startAngle = endAngle;
      });
  }

</script>

{% endblock %}
